/*Big Tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%;}
}


/* smaller tables to big talets (768px to 1023px)*/
@media only screen and (max-width: 1023px){
    section {padding: 60px 0;}
    
    body{font-size: 18px;}
    
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    
    .bttn-app img{height: 40px;}
    .works-step{margin-bottom: 30px;}
    .works-step:last-of-type {margin-bottom: 50px;}
    .app-screen{ width: 50%; }
    
    .works-step div{ 
        height: 45px;
        width: 45px;
        margin-right: 25px;
    }
    
    .cities-box .city-feature img{ 
        width: 20px; 
        margin-right: 5px;
    }
    .city-feature span{font-size:100%;}
    .city-feature a{font-size:90%;}
    
    .plan-box{
        width: 100%;
        margin: 0;
    }
    
    .plan-price{
        font-size: 200%;
        margin-bottom: 10px;
    }
    
    .contact-form {
        width: 80%;
        margin-left: 10%;
    }
    .section-footer{ padding: 30px;}
    .section-footer p{
        margin-top: 50px;
        font-size: 80%;
    }
}


/* small phones to small talets (481px to 767px)*/
@media only screen and (max-width: 767px){
    
    section{padding: 30px 0;}
    body{font-size: 15px;}
    .col{
        width: 100%;
        margin: 0 0 5% 0;
    }
    
    .long-copy{
        margin: 0;
        width: 100%;
    }
    
    .row,
    .hero-text-box{padding: 0 4%;}
    
    .main-nav{display: none;}
    
    .mobile-nav-icon{
        display: inline-block;
    }
    
    .main-nav{
        float: left;
        margin-top: 30px;
        margin-left: 30px;
/*        background-color: #fff;*/
    }
    .main-nav li{
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        font-size: 100%;
        padding: 10px 0;
/*        color: #000;*/
    }
    
    /*---- stick navigation----*/
    
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        padding: 10px 0;
    }
    
    .sticky .mobile-nav-icon-black {
        display: inline-block;
        margin: 0;
    }
    .sticky .mobile-nav-icon {
        display: none;
    }
    .sticky .main-nav {margin-top: 10px;}
    
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    
    .works-step{margin-bottom: 20px;}
    .works-step:last-of-type {margin-bottom: 20px;}
    .step-box{margin-top: 10px;}
    .step-box:last-child{margin-top: 10px;}
    .app-screen{ 
        width: 30%;
    }
    
    .works-step div{ 
        padding: 3px;
        height: 35px;
        width: 35px;
        margin-right: 15px;
        font-size: 120%;
    }
    .step-box:first-child{
        text-align: center;
        padding-right: 0;
         margin-top: 10px;
    }
    
    .bttn-app img{
        text-align: center;
    }
    .social{
        margin-top: 20px;
        float:none;
        text-align: center;
    }
    .footer-nav{
        float:none;
        text-align: center;
    }
    
    .contact-form{
        width: 80%;
        margin-left: 10%;
    }
    
    .map-box{
        width: 100%;
        height: auto;
        position: relative;
    }

    .map{
        width: 100%;
        height: 300px;
        position: relative;
    /*    z-index: 0;*/
    }
    .form-box{
        position: relative;
        width: 100%;
        height: auto;
    }
}


/* smaller phones (0px to 480px)*/
@media only screen and (max-width: 480px){
    .contact-form{
        width: 100%;
        margin-left: 0;
    }
    
    section{padding: 20px;}
}



