/*
Orange color:- #e67e22
*/

/*-------------------------------------------------*/
/*    BASIC COMPONENTS*/
/*-------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{
    zoom:1;
}
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
/*-------------------------------------------------*/
/*    REUSABLE COMPONENTS*/
/*-------------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

a{
    color: #e67e22;
    text-decoration: none;
    padding: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover{
    color: #555;
    border-bottom: 1px solid transparent;
}
/*---------- HEADING ----------*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    color: #fff;
    font-size: 240%;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h3{
    margin-bottom: 15px;
    font-size: 110%;
}

h2:after{
    display: block;
    background-color: #e67e22;
    content: " ";
    height: 2px;
    width: 200px;
    margin: 20px auto 0;
}

/*---------- PARAGRAPHS ----------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*------SECTION ICONS------*/
.section-logo {
    height: 50px;
    width: auto;
    display: block;
    margin-bottom: 10px;
}
/*---------- BUTTONS ----------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.5s,color 0.5s;
    transition: background-color 0.5s,color 0.5s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px
}
.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover{
    background-color: #cf6d17;
    color: #fff;
}



/*-------------------------------------------------*/
/*   1. HEADER COMPONENTS*/
/*-------------------------------------------------*/

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))) ,url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ,url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1140px;
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border: 0;
}

.logo-black{
    display: none;
}

/*---------- NAVIGATION ----------*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;  
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/*----------MOBILE NAVIGATION----------*/

.mobile-nav-icon{
    display: none;  
    width: 25px;
    vertical-align: middle;
    float: right;
    padding-top: 30px;
    cursor: pointer;
}
.mobile-nav-icon-black{
    display: none;   
    width: 25px;
    vertical-align: middle;
    float: right;
    padding-top: 20px;
    cursor: pointer;
}


/*----------STICKY NAVIGATION----------*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 2px #e8e6e6;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    padding: 17px 0;
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}

.sticky .main-nav {margin-top: 20px;}

.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*-------------------------------------------------*/
/*----------2. MEALS ----------*/
/*-------------------------------------------------*/

/*
.section-features{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
    
}
.meals-showcase li{
    width: 25%;
    display: block;
    float: left;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*-------------------------------------------------*/
/*----------3. HOW IT WORKS SECTION ----------*/
/*-------------------------------------------------*/
.section-steps{
    background-color: #e8e7e7;
}
.step-box:first-child{
    text-align: right;
    padding-right: 3%;
     margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
     margin-top: 70px;
}

.app-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step div{ 
    color: #e67e22;
    display: inline-block;
    border: 2px solid #e67e22;
    padding: 5px;
    height: 55px;
    width: 55px;        
    border-radius: 50%;
    font-size: 150%;
    float: left;
    text-align: center;
    margin-right: 25px;
}
.works-step:last-of-type{
    margin-bottom: 90px;
}

.bttn-app:link,
.bttn-app:active{
    border: 0;
}
.bttn-app img{
    width: auto;
    height: 50px;
    margin-right:  10px;
    transition: transform 0.2s;
}
.bttn-app img:hover{
    transform: scale(1.1);
}

/*-------------------------------------------------*/
/*----------4. CITIES ----------*/
/*-------------------------------------------------*/

.cities-box{
    width: 25%;
    margin: 0;
}
.cities-box figure{
    width: 100%
}
.cities-box img{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px
}
.cities-box figcaption{
    margin-left: 10px;
    text-transform: uppercase;
}
.cities-box .city-feature img{
    width: 30px;
    height: auto;
    padding: 0;
    display: inline-block;
    margin: 5px 10px 0 0;
    
/*    secret to align icon with text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px
}
.city-feature{
    margin-bottom: 5px;
}
.city-feature span{
    font-size:120%;
}

/*-------------------------------------------------*/
/*----------5. CUSTOMER TESTIMONIAL ----------*/
/*-------------------------------------------------*/

.section-testimonials{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
/*    background-position: center;*/
    background-size: cover;
    background-attachment: fixed;
/*    height: 100vh;*/
    color: #FFF;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote:before{
    content: "\201C";
    display: block;
    font-size: 600%;
    font-style: italic;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img{
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/*-------------------------------------------------*/
/*----------6. SIGN UP ----------*/
/*-------------------------------------------------*/
.section-plans{
    background-color: #e8e7e7;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 5px 5px 2px #bdbdbd;
    box-shadow: 5px 5px 2px #bdbdbd;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.plan-box div:first-child{
    background-color: #f4f4f4;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}
.plan-price{
    color: #e67e22;
    font-size: 250%;
    margin-bottom: 10px;
}
.plan-price span{
    font-size: 30%;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box ul img{
    width: 30px;
    vertical-align: middle;
}

/*-------------------------------------------------*/
/*----------7. FORM ----------*/
/*-------------------------------------------------*/
.contact-form {
    width: 90%;
    margin-left: 5%;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #ccc;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

.map-box{
    width: 100%;
    height: 500px;
    position: relative;
}

.map{
    width: 100%;
    height: 500px;
    position: relative;
/*    z-index: 0;*/
}
.form-box{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    padding-top: 30px;
/*    z-index: 10;*/
}
/*-------------------------------------------------*/
/*----------8. Footer ----------*/
/*-------------------------------------------------*/

.section-footer{
    background-color: #1e1e1e;
    color: #fff;
    padding: 60px;
}

.footer-nav{
    float:left;
    list-style-type: none;
}

.section-footer li{
    display: inline;
    margin-right: 20px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    border-bottom: 1px solid transparent;
}
.section-footer li:hover{
   color: #e67e22;
}
.social img{
    width: 20px;
/*    margin-left: 20px;*/
}
.social{
    float: right;
}
.social a{
    border: 0;
}
.section-footer p{
    text-align: center;
    margin-top: 60px;
    font-size: 70%;
}



/*-------------------------------------------------*/
/*----------ANIMATIONS----------*/
/*-------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated{
    opacity: 1;
}



